<div>
    <h2 style="padding-bottom: 1rem;">Node Wallet: {{.NodeAddress}}</h2>
    <!-- Table of Validators -->
    <table>
        <thead>
        <tr>
            <th>Number</th>
            <th>Index</th>
            <th>Validator Public Key</th>
            <th>Minipool Address</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Capture NetworkId outside of the range -->
        {{ $networkId := .NetworkId }}            
        {{range .Validators}}
        <tr>
            <td>{{.Number}}</td>
            <td>
            <a href="https://{{if eq $networkId 17000}}holesky.{{end}}beaconcha.in/validator/{{.Index}}" target="_blank">
                {{.Index}}
                <!-- External link icon -->
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    class="ext-link"
                    >
                <path d="M7 17l9-9M7 8h9v9"/>
                </svg>
            </a>
            </td>
            <td>
            <a href="https://{{if eq $networkId 17000}}holesky.{{end}}beaconcha.in/validator/{{.PubKey}}" target="_blank">
                {{.PubKey}}
                <!-- External link icon -->
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    class="ext-link"
                    >
                <path d="M7 17l9-9M7 8h9v9"/>
                </svg>
            </a>
            </td>
            <td>
            <a href="https://{{if eq $networkId 17000}}holesky.{{end}}etherscan.io/address/{{.MinipoolAddress}}" target="_blank">
                {{.MinipoolAddress}}
                <!-- External link icon -->
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    width="14"
                    height="14"
                    viewBox="0 0 24 24"
                    class="ext-link"
                    >
                <path d="M7 17l9-9M7 8h9v9"/>
                </svg>
            </a>
            </td>
            <td>{{.Status}}</td>
            <td>
            <!-- "Sign Exit" Button -->
            {{ if or (eq .Status "active_online") (eq .Status "active_offline") }}
            <div>
                <a 
                    class="button-htmx-action small"
                    hx-post="/content/validator/signExit"
                    hx-include="#network-select"
                    hx-vals='{"validatorIndex": "{{.Index}}", "privateKey": "{{.PrivateKey}}"}'
                    hx-target="#overlay"
                    hx-swap="outerHTML"
                >
                    Sign Exit
                </a>
            </div>
            {{ end }}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

    <!-- Pagination UI Element -->
    {{ if gt .TotalPages 1 }}
    <div class="pagination" style="margin-top: 1rem; text-align: center;">
        {{ if gt .PreviousPage 0 }}
            <button 
                class="button-htmx-action small"
                hx-post="/content/minipools?page={{ .PreviousPage }}"
                hx-vals="{{ .Data }}"
                hx-include="#network-select"
                hx-target="main" 
                hx-swap="innerHTML"
                hx-indicator="#minipools-loading-overlay" 
            >
                Previous
            </button>
        {{ else }}
            <button disabled class="button-htmx-action small disabled">Previous</button>
        {{ end }}

        <span style="margin: 0 1rem;">Page {{.Page}} of {{.TotalPages}}</span>

        {{/* Show the "Next" button only if there are more pages */}}
        {{ if or (lt .NextPage .TotalPages) (eq .NextPage .TotalPages) }}
            <button 
                class="button-htmx-action small"
                hx-post="/content/minipools?page={{ .NextPage }}"
                hx-vals="{{ .Data }}"
                hx-include="#network-select"
                hx-target="main" 
                hx-swap="innerHTML"
                hx-indicator="#minipools-loading-overlay" 
            >
                Next
            </button>
        {{ else }}
            <button disabled class="button-htmx-action small disabled">Next</button>
        {{ end }}
    </div>
    {{ end }}

    <!-- Empty container for the overlay returned by the server -->
    <div id="overlay"></div>
</div>